
#m_right{
    margin-right: 15px;
}
.m_bottom{
    margin-bottom:15px;
}
.containerPadding{
    padding: 35px;
}

.module {
    padding: 10px;
    text-align: center;
    color: #FECA1B;
    max-height: 120px;
    min-width: 120px;
    background-color: #EF5350;
    border-radius: 2px;
    margin-bottom: 10px;
  }
.module:hover {
    background-color: #FECA1B;
    cursor: pointer;
    color: #EF5350;
}

.detailbox{
 border: 1px solid #3f525c;
 border-radius: 5px;
 background-color: #d6d6d6;
 padding: 10px;
 height: 450px;
}

.img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;

}