

  <div class="container">
    <div class="row justify-content-center m_bottom">
        <div class="header">
             <img src="./assets/pokemon-logo.png" alt="logo">
        </div>
        
    </div>

    <div class="row justify-content-center m_bottom">
        <!-- <button *ngIf="disable" (click)="onPrevious()">Previous</button> -->
        <button (click)="onPrevious()" id="m_right"> <<< </button>
        
        <button (click)="onNext()"> >>> </button>
    </div>
    
    <!-- <div class="row">
      <form>
          <input type="text" [(ngModel)]="varInput" [ngModelOptions]="{standalone: true}">
          <button (click)="onSearch(varInput)">Find</button>
        </form>
    </div> -->
    <div class="row justify-content-center m_bottom">
          <form>
            <label>
                Search:
            </label>
            <input [(ngModel)]="varInput" [ngModelOptions]="{standalone: true}" placeholder="Pokemon ID/Name">
            <button (click)="onSearch(varInput)" class="glyphicon glyphicon-search"></button>
        </form>
    </div>

     <div class="row">
         <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let pokemon of pokemons.results" (click)="onSelect(pokemon)" [ngClass]="selectedPokemon ? 'selected' : '' ">
             <div class="module">
                <!-- <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemonDetail.id}}.png" alt="sprite" class=""> -->
                <h4>{{pokemon.name}}</h4>  
              </div>
         </div>
     </div>
    </div>




  