<!-- <h2>POKEDEX</h2>

  <button *ngIf="disable" (click)="onPrevious()">Previous</button>
  <button (click)="onNext()">Next</button>

  <h3>My Pokemons</h3>
<div class="grid grid-pad">
  <a *ngFor="let pokemon of pokemons.results" class="col-1-4"  (click)="onSelect(pokemon)" [ngClass]="selectedPokemon ? 'selected' : '' ">
    <div class="module hero">
      <h4 >{{pokemon.name}}</h4>
    </div>
  </a>
</div>



<div class="detail" *ngIf="selectedPokemon">

    <h2>{{selectedPokemon.name}}</h2>
    <div>
      <h4> id#: {{pokemonDetail.id}} </h4>
      <h4> name: {{pokemonDetail.name}} </h4>
      <h4> Ability: <span *ngFor="let res of pokemonDetail.abilities">{{pokemonDetail.abilities.length > 1 ? res.ability.name + ',' : res.ability.name }}</span> </h4>
      <h4> Height: {{pokemonDetail.height}} </h4>
      <h4> Weight: {{pokemonDetail.weight}} </h4>


    </div> 
  </div> -->

  <div class="container">
    <div class="row justify-content-center">
        <div class="header">
            <h1>POKEDEX</h1>
        </div>
        
    </div>

    <div class="row justify-content-center m_bottom">
        <!-- <button *ngIf="disable" (click)="onPrevious()">Previous</button> -->
        <button (click)="onPrevious()" id="m_right"> <<< </button>
        
        <button (click)="onNext()"> >>> </button>
    </div>

     <div class="row">
         <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let pokemon of pokemons.results" (click)="onSelect(pokemon)" [ngClass]="selectedPokemon ? 'selected' : '' ">
             <div class="module">
                <h4>{{pokemon.name}}</h4>
              </div>
         </div>
     </div>
    </div>
    
    <div class="container containerPadding" *ngIf="selectedPokemon">
     <div class="row detailbox">

          <div class="col-md-6">
                <h2>{{selectedPokemon.name}}</h2>
                <h4> id#: {{pokemonDetail.id}} </h4>
                <h4> Type: <span *ngFor="let res of pokemonDetail.types">{{pokemonDetail.types.length > 1 ? res.type.name + ',' : res.type.name }}</span> </h4>
                <h4> Name: {{pokemonDetail.name}} </h4>
                <h4> Ability: <span *ngFor="let res of pokemonDetail.abilities">{{pokemonDetail.abilities.length > 1 ? res.ability.name + ',' : res.ability.name }}</span> </h4>
                <h4> Height: {{pokemonDetail.height}} </h4>
                <h4> Weight: {{pokemonDetail.weight}} </h4>
          </div>

          <div class="col-md-6 text-center">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemonDetail.id}}.png" alt="sprite" class="img">
          </div>

     </div>
    </div>


  